{% extends 'base.html' %}
{% load parking_extras %}
{% load reserve_extras %}
{% block content%}
    <div class="col">
        <div class="h1">
            Reserva de Parking Agregada:
        </div>
        <div class="card h-100">
            <div class="card-body">       
                <h2> {{ quantity | quantity_add_format }} </h2>         
                <h2>{{ parking.title }}</h2>                 
                <h3>{{ parking.address_p}}</h3>
                <h3>{{ parking.price_hour | price_format }}</h3>
                <a href="{% url 'parking:parking' parking.slug %} ">
                    <button class="btn btn-secondary">Ver mas informacion</button></a>                 
                <br>                 
                <br>
                <button class="btn btn-warning"> Confirmar Reserva </button>
             <div>            
        </div>

    </div>
{% endblock %}