{% extends 'base.html' %}
    {% block content %}

    <div class="col">
        <h2>LOGIN</h2>
    </div>
    <br>

    <form action="" method="post" id="">
        {% csrf_token %}
        <div>                
            <label for="username" name="">Username</label>
            <input type="text" name="username" id="username" id="">
        </div>
        <br>
        <br>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="">
        </div>    

        <button class="btn btn-primary" type="submit">Login </button>
    </form>

    <div class="section mt-4">
        <div class="container">
            <h2>Aun no estas registrado?</h2>
            <a href="{% url 'register' %}">
                <button class="btn btn-primary">Registro</button>
            </a>
        </div>
    </div>

    {% endblock %}

   