    {% load static %}
    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Park - Registro</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Registro Parking</h2>
                        {% for field in formOwner %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                    
                        {% endfor %}

                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Registrarse"/>
                    </div>
                </form>
                <p class="loginhere">
                    Ya tienes una cuenta? <a href="{% url 'login' %}" class="loginhere-link">Logueate aqui.</a>
                </p>
            </div>
        </div>
    </section>

</div>

<!-- JS -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
