
{% extends 'base.html' %}
    {% block content %}
<div class="col">
    <div class="h1">
        {{ parking.title}}
    </div>
    <div class="h2">
        {{ parking.address}}
    </div>
    <div class="h4 font-weight-bold">
        Precio hora: <span>{{ parking.price_hour}}</span>
    </div>
    <div class="h4 font-weight-bold">
        Precio Dia: <span> {{ parking.price_day}}</span>
    </div>
    <div class="h4 font-weight-bold">
        Precio Semana: <span>{{ parking.price_week}}</span>
    </div>
    <div class="h4 font-weight-bold">
        Precio Año: <span>{{ parking.price_year}}</span>
    </div>
    <div>
        {% include 'tikets/snippets/add.html' %}
    </div>
</div>
    {% endblock %}