
{% extends 'base.html' %}
    {% block content %}
<div class="row">
    <p class="h2">Informacion del Parking</p>
<div class="col-4 card">
    <div class="h2">
        {{ parking.title}}
    </div>
    <div class="h3">
        {{ parking.address_p}}
    </div>
    <div class="h4 font-weight-bold">
        Precio hora: <span>${{ parking.price_hour}}</span>
    </div>
    <div class="h4 font-weight-bold">
        Precio Dia: <span> ${{ parking.price_day}}</span>
    </div>
    <div class="h4 font-weight-bold">
        Precio Semana: <span>${{ parking.price_week}}</span>
    </div>
    <div class="h4 font-weight-bold">
        Precio Mensual: <span>${{ parking.price_month}}</span>
    </div>
    <div>
    </div>
</div>
<div class="col-5 card">
    {% include 'reserves/snippets/add.html' %}
</div>
</div>
{% endblock %}