{% extends 'base.html' %}

{% block breadcrumb %}
    {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content%}
{% load parking_extras %}

    <div class="col-6 ms-5">
        <div class="h3 ">
            Comprobante de Pago
        </div>
        <br>
        <div class="card ms-5">
            <div class="card-header">
                <p class="h2">Ticket:</p>
                    Número de orden: 0004568782
            </div> 
            <div class="card-body">
                    {% for parking in reserve.parkings.all %}
                        {% include 'orders/snippets/parking.html' %}
                    {% endfor%} 
            </div>  
            <div class="card text-bg-warning ">                               
                    <p class="h4 ms-3 mt-3">Estado: Pago Concretado</p>
                    <p class="h4 ms-3">Total:</p>
                    <p class="h5 text-secondary fw-bold ms-3">{{ order.total | price_format }}</p>
            </div>                        
    </div>
    
{% endblock%}

