{% extends 'base.html' %}
{% block content%}
{% load parking_extras %}

    <div class="col-8">
        <div class="h3">
            Revisa tu reserva
        </div>
        <div class="card">
            <div class="card-body">
                {% for parking in reserve.parkings.all %}
                    {% include 'orders/snippets/parking.html' %}
                {% endfor%}                
            </div>         
        </div>
        {% include 'orders/snippets/resume.html' %}
        <div class="row">
            <div class="col text-center">
            <button class="btn btn-danger">Pagar</button>
        </div>
        </div>
    </div>

    
{% endblock%}

