{% load static %}
<section class="menu">
    <nav class="menu__container">
        <h1> <a href="{% url 'index' %}">
                <img class="menu__logo" src="{%static 'image/logo.png' %}"></a></h1>
        <ul class="menu__links">
            <!--primer menu-->
            <li class="menu__item">
                <a href="#" class="menu__link">Como Funciona</a>
            </li>

            <li class="menu__item menu__item--show">
                <!-- item--show que tenga esa clase como modificador-->
                <a href="#" class="menu__link">Parkings <img src="{% static 'assets/arrow.svg' %}"
                        class="menu__arrow"></a>
                <!--imagen que tendra dentro un submenu y referencia assets-->

                <ul class="menu__nesting">
                    <!--para hacer el menu desplegable, un menu anidado-->
                    <li class="menu__inside">
                        <!-- meunu interno-->
                        <a href="#" class="menu__link menu__link--inside">Usuario</a>
                        <!--menu modificador-->
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">Administrador</a>
                    </li>
                    <li class="menu__inside">
                        <a href="{% url 'parking' %} " class="menu__link menu__link--inside">Estacionamientos</a>
                    </li>
                </ul>
            </li>


            <li class="menu__item menu__item--show">
                <a href="#" class="menu__link">About <img src="{% static 'assets/arrow.svg' %}" class="menu__arrow"></a>

                <ul class="menu__nesting">
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">About 1</a>
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">About 2</a>
                    </li>
                    <li class="menu__inside">
                        <a href="#" class="menu__link menu__link--inside">About 3</a>
                    </li>
                </ul>
            </li>

            <li class="menu__item">
                <a href="{% url 'contact' %}" class="menu__link">Contacto</a>
            </li>

            <li class="menu__item">
                <a href="{% url 'login' %}" class="menu__link">Ingresar</a>
            </li>

        </ul>

    </nav>

</section>